<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Pomotro</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" integrity="sha512-t4GWSVZO1eC8BM339Xd7Uphw5s17a86tIZIj8qRxhnKub6WoyhnrxeCIMeAqBPgdZGlCcG2PrZjMc+Wr78+5Xg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-2" style="padding: 5px;">
      <button type="button" class="btn btn-link" id="act_btn" onclick="act_btn()" style="width: 100%; padding-left: 20px; padding-right: 2px;"><i class="fa-solid fa-play"></i></button>
      <!--- <button type="button" class="btn btn-link btn-settings"><i class="fa-solid fa-chevron-up"></i></button> ---->
    </div>
    <div class="col-10" style="padding: 0;">
      <div class="progress">
        <div class="progress-bar" id="prog-bar" role="progressbar" aria-label="Success example" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-text" id="time">00:00</div>
        <div class="progress-alt" id="period_expl">START</div>
        <div class="progress-details" id="period">0/4</div>
      </div>
    </div>
  </div>
</div>

<script src="js/jquery-3.7.0.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js" integrity="sha512-3dZ9wIrMMij8rOH7X3kLfXAzwtcHpuYpEgQg1OA4QAob1e81H8ntUQmQm3pBudqIoySO5j0tHN4ENzA6+n2r4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js" integrity="sha512-VK2zcvntEufaimc+efOYi622VN5ZacdnufnmX7zIhCPmjhKnOi9ZDMtg1/ug5l183f19gG1/cBstPO4D8N/Img==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="js/misc.js"></script>
<script src="js/main.js"></script>

<script>

// Like a sports car gauge effect
window.onload = () => {  
  setTimeout(() => {
    $('#prog-bar').css('width', '100%')                 // Fill the bar

    setTimeout(() => {                                  // Unload the bar
      $('#prog-bar').css('width', '0%')
      setById('time', time_str_convert(tour_time))
    }, 700)                                             // make it delayed
  }, 200)
  
}


</script>

</body>
</html>